<link rel="stylesheet" href="../../../../libs/editor.md/lib/codemirror/lib/codemirror.css">
<link rel="stylesheet" href="../../../../libs/editor.md/css/editormd.min.css">
<!-- <link rel="stylesheet" href="libs/editor.md/css/editormd.min.css"/> -->
<div ng-include="'src/modules/app/tpls/header.html'"></div>
<!-- <form class="form-horizontal createArticleForm" novalidate>
    <div class="form-group">
        <label for="title" class="control-label col-sm-1">
            标题: 
        </label>
        <div class="col-sm-10">
            <input type="text" ng-model="newArticle.title" id="title" class="form-control noRadius" />
        </div>
    </div>
    <div class="form-group">
        <label for="content" class="control-label col-sm-1">
            内容: 
        </label>
        <div class="col-sm-10">
            <div class="editor" contenteditable ng-model="newArticle.content" editor-menus="source,|,bold,underline,italic,strikethrough,eraser,forecolor,bgcolor,|,quote,fontfamily,fontsize,head,unorderlist,orderlist,alignleft,aligncenter,alignright,|,link,unlink,table,emotion,|,img,insertcode,|,undo,redo,fullscreen"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="tags" class="control-label col-sm-1">
            标签:
        </label>
        <div class="col-sm-10">
            <input type="text" ng-model="newArticle.tags" id="tags" class="form-control noRadius" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-push-1">
            <div class="btn btn-default noRadius" ng-click="createArticle($event)">提交</div>
            <div class="btn btn-default noRadius" ng-click="preview($event)">预览</div>
        </div>
    </div>
</form> -->
    <!-- <textarea style="display:none;">###Hello world!</textarea> -->
<div id="editormd">
</div>
<div ng-include="'src/modules/app/tpls/foot.html'"></div>