.CodeMirror .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word),
.editor-toolbar.disabled-for-preview a:not(.no-disable){
	background-color: transparent !important;
}
.editor-toolbar a{
	vertical-align: middle;
}
.editor-toolbar.fullscreen{
	background-color: #dedede !important;
}
.editor-toolbar i.separator{
	border-right-color: #eee !important;
}
.CodeMirror {
	height: calc(100% - 50px) !important;
}
.create_article input{
	&::-webkit-input-placeholder{
        color: #ddd;
    }
    &:-ms-input-placeholder{
        color: #ddd;
    }
    &:-moz-placeholder{
        color: #ddd;
    }
    &::-moz-placeholder{
        color: #ddd;
    }
}
.create_article input.titleIpt{
	border-bottom: 1px solid #efefef;
}
.create_article .titleIpt,
.create_article .tagsIpt{
	width: 100%;
	height: 50px;
	border: none;
	font-size: 30px;
	color: #666;
	padding-left: 10px;
}
.fullscreen{
	padding: 0 !important;
}
.editor-toolbar{
	background-color: #dedede;
	opacity: 1 !important;
	height: 50px;
	line-height: 50px;
	border-top: 1px solid #d9d9d9 !important;
	&:before, &:after{
		margin: 0 !important;
		height: 0 !important;
	}
	&:hover{
		opacity: 1 !important;
	}
	a{
		width: 50px !important;
		height: 50px !important;
		line-height: 50px !important;
		margin-top: 0 !important;
		border: none !important;
		border-radius: 0 !important;
		color: #555555 !important;
		font-size: 20px;
		outline: none !important;
	}
	a:link,a:visited,a:hover,a:active{
		&::before{
			line-height: 50px !important;
		}
	}
	a:hover,
	a.active{
		background-color: #555 !important;
		&::before{
			color: #fff;
		}
	}
}
.uploadImg{
	display: none;
}
.modal-content{
	border-radius: 0;
}
.modal-title {
	text-align: center;
	font-size: 22px;
	color: #555;
	font-weight: bold;
}
.insertImg {
	text-align: center;
	#file{
		width: 0;
		height: 0;
		transform: scale(0);
	}
	button, #remoteUrl{
		width: 300px;
		height: 42px;
		line-height: 42px;
		background-color: #666;
		color: #fff;
		letter-spacing: 2px;
		font-size: 16px;
		border: none;
	}
	#remoteUrl{
		background-color: #fff;
		padding-left: 40px;
		color: #555;
		border: 1px solid #ddd;
		display: none;
	}
}
.insertImgType{
	display: block;
	margin: 30px auto 0;
	color: #888;
	width: 120px;
	text-align: center;
	&:hover{
		text-decoration: underline;
	}
}
#upload{
	display: none;
}
.fa-publish{
	background: url('../img/publish_1.png')center center no-repeat;
	background-size: 50% 50%;
	&:hover,&.active{
		background: url('../img/publish_2.png')center center no-repeat;
	}
}