*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body, html{
	width: 100%;
	height: 100%;
}
body{
	font: 12px 'microsoft yahei';
}
ul{
	list-style: none;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
}
.form-horizontal .form-group{
	margin-right: 0;
	margin-left: 0;
}
.form-group label{
	padding: 0;
}
input, button, textarea{
	outline: none;
}
.noRadius{
	border-radius: 0;
}
.newPostContent{
	width: 100%;
	height: 300px;
}
a, a:hover, a:active, a:visited, a:link{
	text-decoration: none;
	color: #666;
}