/********************************header部分样式********************************/
.header{
	position: relative;
	width: 100%;
	height: 80px;
	padding: 0 30px;
	border-bottom: 1px solid #ddd;
	z-index: 100;
	background-color: #0d0a31;
}
.header>.logo_goHome{
	width: 60px;
	height: 60px;
	margin-top: 10px;
	border-radius: 50%;
	cursor: pointer;
}
.header .headerToggleBtn{
	position: absolute;
	top: 80px;
	right: 22px;
	width: 22px;
	height: 68px;
	background: url('img/ring-btn.png');
	cursor: pointer;
}
.header > .btn,
.header > .userInfo{
	position: absolute;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
}
.header > .userInfo > span{
	padding: 5px 10px;
	max-width: 100px;
	white-space:nowrap; 
	overflow:hidden; 
	text-overflow:ellipsis;
	font-size: 16px;
    color: #fff;
}
.header > .userInfo > img{
	border-radius: 50%;
}
.popUpLayer{
	padding: 10px 0;
	display: none;
}
.noRadius{
	border-radius: 0;
}
.layui-layer-btn0{
	border-radius: 0 !important;
}
.layui-layer-content{
	border-bottom: 1px solid #ddd;
}
.error{
	color: #f00;
}
.success{
	color: #0f0;
}
/**/
