<link rel="stylesheet" href="../../../../libs/simplemde/dist/simplemde.min.css"/>
<div ng-include="'src/modules/app/tpls/header.html'"></div>
<div class="create_article">
    <input type="text" class="titleIpt" placeholder="文章标题..." ng-model="article.title">
    <input type="text" class="tagsIpt" placeholder="文章标签，标签之间以','分割" ng-model="article.tags">
    <div class="editor_wrap"><textarea id="editor"></textarea></div>
</div>
<!-- Modal -->
<div class="modal fade" id="insertImg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">上传图片</h4>
      </div>
      <div class="modal-body">
        <div class="insertImg">
            <input type="file" id="file">
            <button>点击上传</button>
            <input type="text" id="remoteUrl" placeholder="输入网络图片链接">
        </div>
        <a href="javascript:;" class="insertImgType">或选择网络图片</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default noRadius" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary noRadius" id="upload">确定</button>
      </div>
    </div>
  </div>
</div>
<div ng-include="'src/modules/app/tpls/foot.html'"></div>