<div ng-include="'src/modules/app/tpls/header.html'"></div>
<div class="articlesContent">
    <div class="articleLeft">
        <ul>
            <li ng-repeat="article in articles">
                <a class="articleTitle" ng-bind="article.title" ui-sref="article({username:article.author.username,articleId:article.id})">
                </a>
                <div class="articleAbstract">
                    <a ui-sref="user({username:article.author.username})">
                        <img ng-src="{{article.avatar}}">
                    </a>
                    <div ng-bind-html="article.abstract"></div>
                </div>
                <div class="articleInfo">
                    <div class="createTime">
                        <span class="ws_icon ws_icon_time"></span>
                        <span><strong ng-bind="article.author.nickname"></strong> 发布于 </span>
                        <span ng-bind="article.createAt"></span>
                    </div>
                    <ul class="tags">
                        <li ng-repeat="tag in article.tags">
                            <span class="ws_icon ws_icon_tags"></span>
                            <span ng-bind="tag"></span>
                        </li>
                    </ul>
                    <!-- 评论数 -->
                    <div class="commentsCount">
                        <span class="ws_icon ws_icon_comment"></span>
                        (<span ng-bind="article.comments"></span>)
                    </div>
                    <!-- 阅读数 -->
                    <div class="viewsCount" ui-sref="article({username:article.author.username,articleId:article.id})">
                        <span class="ws_icon ws_icon_read"></span>
                        (<span ng-bind="article.views"></span>)
                    </div>
                    <!-- 编辑 -->
                    <div class="updateArticle" ui-sref="updateArticle({username: article.author.username,articleId: article.id})" ng-show="article.author.username===userInfo.username">
                        <span class="ws_icon ws_icon_edit"></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="articleRight">
        
    </div>
</div>
<div ng-include="'src/modules/app/tpls/foot.html'"></div>