<div ng-include="'src/modules/app/tpls/header.html'"></div>
<div class="articlesContent">
    <div class="articleLeft">
        <ul>
            <li ng-repeat="article in articles">
                <a class="articleTitle" ng-bind="article.title" ui-sref="article({username:article.author.username,articleId:article.id})">
                </a>
                <div class="articleAbstract">
                    <a ui-sref="user({username:article.author.username})">
                        <img ng-src="{{article.author.avatar}}">
                    </a>
                    <div ng-bind-html="article.content"></div>
                </div>
                <div class="articleInfo">
                    <div class="createTime">
                        <img src="./src/static/img/time.png" class="articleInfoIcon" alt="创建时间"/>
                        <span><strong ng-bind="article.author.nickname"></strong> 发布于 </span>
                        <span ng-bind="article.createAt"></span>
                    </div>
                    <ul class="tags">
                        <li ng-repeat="tag in article.tags">
                            <img src="./src/static/img/tags.png" class="tagIcon articleInfoIcon" alt="标签"/>
                            <span ng-bind="tag"></span>
                        </li>
                    </ul>
                    <!-- 评论数 -->
                    <div class="commentsCount">
                        <img src="./src/static/img/comments.png" class="articleInfoIcon" alt="评论"/>
                        <span ng-bind="article.comments.length"></span>
                    </div>
                    <!-- 阅读数 -->
                    <div class="viewsCount" ui-sref="/#!/{{article.author.username}}/articles/{{article._id}}">
                        <img src="./src/static/img/views.png" class="articleInfoIcon" alt="阅读"/>
                        <span ng-bind="article.views"></span>
                    </div>
                    <!-- 编辑 -->
                    <div class="updateArticle" ui-sref="updateArticle({username: article.author.username,articleId: article.id})" ng-show="article.author.username===userInfo.username">
                        <img src="./src/static/img/update.png" class="articleInfoIcon" title="编辑"/>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="articleRight">
        
    </div>
</div>