<div class="bg_particle" particle-set='{"backgroundColor": "#f5f8fa","nodeColor": "#eee","lineColor": "#e9e9e9"}'>
</div>
<div class="home_content">
    <img src="src/static/img/homeLogo.png" title="Blog" ui-sref="articles"/>
    <ul class="tabs">
        <li ng-click="home={login: true, register: false};hideRegisterMsg()">
            <a ng-class="{active: home.login}">
                登陆
            </a>
            <s ng-show="home.login"></s>
        </li>
        <li ng-click="home={login: false, register: true};hideLoginMsg()">
            <a ng-class="{active: home.register}">
                注册
            </a>
            <s ng-show="home.register"></s>
        </li>
    </ul>
    <div class="from_content">
        <div ng-show="home.login">
            <form id="login" name="login_form">
                <div class="ipt_group">
                    <input type="text" ng-model="loginUser.username" name="username" placeholder="登陆账号" required/>
                    <div class="iptMsg">
                        <span ng-show="login_form.username.$error.required">请填写登陆账号</span>
                        <span ng-show="!login_form.username.$error.required && accountNotExist">该账号不存在</span>
                        <span ng-show="!login_form.username.$error.required && !accountNotExist && loginFailed">账号或者密码不正确</span>
                    </div>
                </div>
                <div class="ipt_group">
                    <input type="password" ng-model="loginUser.password" name="password" placeholder="密码" required/>
                    <div class="iptMsg">
                        <span ng-show="login_form.password.$error.required">请填写密码</span>
                    </div>
                </div>
            </form>
            <a class="forgetPwd" ui-sref="findPwd">忘记密码？</a><a class="authLogin">第三方账号登陆</a>
        </div>
        <div ng-show="home.register">
            <form id="register" name="registerForm" novalidate>
                <div class="ipt_group">
                    <input type="text" name="username" ng-model="registerUser.username" placeholder="账号" required ng-pattern="/^[a-zA-Z0-9]{3,10}$/"/>
                    <div class="iptMsg">
                        <span ng-show="registerForm.username.$error.required">
                        请填写注册账号
                        </span>
                        <span ng-show="!registerForm.username.$error.required && registerForm.username.$error.pattern">账号为3到10个长度的字母或数字</span>
                        <span ng-show="!registerForm.username.$error.required && !registerForm.username.$error.pattern && accountExist">用户名已被注册</span>
                    </div>
                </div>
                <div class="ipt_group">
                    <input type="password" name="password" ng-model="registerUser.password" placeholder="密码" ng-pattern="/^[a-zA-Z0-9-_.]{3,12}$/" required/>
                    <div class="iptMsg">
                        <span ng-show="registerForm.password.$error.required">请填写密码</span>
                        <span ng-show="!registerForm.password.$error.required && registerForm.password.$error.pattern">密码为3到12个长度的字母数字-_.</span>
                    </div>
                </div>
                <div class="ipt_group">
                    <input type="password" name="replayPwd" ng-model="registerUser.replayPwd" placeholder="确认密码" required/>
                    <div class="iptMsg">
                        <span ng-show="registerForm.replayPwd.$error.required">请填写重复密码</span>
                        <span ng-show="!registerForm.replayPwd.$error.required && register.replayPwd!=register.password">确认密码与密码不相同</span>
                    </div>
                </div>
                <div class="ipt_group">
                    <input type="text" id="nickName" ng-model="registerUser.nickName" placeholder="昵称"/>
                </div>
                <div class="ipt_group">
                    <input type="email" name="email" ng-model="registerUser.email" placeholder="邮箱" required/>
                    <div class="iptMsg">
                        <span ng-show="registerForm.email.$error.required">请填写邮箱</span>
                        <span ng-show="!registerForm.email.$error.required && registerForm.email.$error.email">邮箱格式不正确</span>
                    </div>
                </div>
            </form>
        </div>
        <button ng-show="home.register" ng-click="register()">注册</button>
        <button ng-show="home.login" ng-click="login()">登陆</button>
    </div>
</div>