<div ng-include="'src/modules/app/tpls/header.html'"></div>
<div class="articlesContent">
    <div class="articleLeft">
        <ul>
            <li ng-repeat="article in articles">
                <a class="articleTitle" ng-bind="article.title" ui-sref="article({username:article.author.username,articleId:article.id})">
                </a>
                <div class="articleAbstract">
                    <a ui-sref="user({username:article.author.username})">
                        <img ng-src="{{article.avatar}}">
                    </a>
                    <div ng-bind-html="article.abstract"></div>
                </div>
                <div class="articleInfo">
                    <div class="createTime" title="创作时间">
                        <span class="ws_icon ws_icon_time"></span>
                        <span><strong ui-sref="user({username: article.author.username})" ng-bind="article.author.nickname"></strong> 发布于 </span>
                        <span ng-bind="article.createAt"></span>
                    </div>
                    <ul class="tags">
                        <li ng-repeat="tag in article.tags" title="{{tag}}">
                            <span class="ws_icon ws_icon_tags"></span>
                            <span ng-bind="tag"></span>
                        </li>
                    </ul>
                    <!-- 评论数 -->
                    <div class="commentsCount" ui-sref="article({username:article.author.username,articleId:article.id})" title="评论">
                        <span class="ws_icon ws_icon_comment"></span>
                        (<span ng-bind="article.comments"></span>)
                    </div>
                    <!-- 阅读数 -->
                    <div class="viewsCount" ui-sref="article({username:article.author.username,articleId:article.id})" title="阅读">
                        <span class="ws_icon ws_icon_read"></span>
                        (<span ng-bind="article.views"></span>)
                    </div>
                    <!-- 编辑 -->
                    <div class="updateArticle" ui-sref="updateArticle({username: article.author.username,articleId: article.id})" ng-show="article.author.username===userInfo.username" title="编辑">
                        <span class="ws_icon ws_icon_edit"></span>
                    </div>
                </div>
            </li>
        </ul>
        <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">上一页</button>
            <button type="button" class="btn btn-default">1</button>
            <button type="button" class="btn btn-default">2</button>
            <button type="button" class="btn btn-default">3</button>
            <button type="button" class="btn btn-default">4</button>
            <button type="button" class="btn btn-default">5</button>
            <button type="button" class="btn btn-default">5</button>
            <button type="button" class="btn btn-default">6</button>
            <button type="button" class="btn btn-default">7</button>
            <button type="button" class="btn btn-default">8</button>
            <button type="button" class="btn btn-default">9</button>
            <button type="button" class="btn btn-default">10</button>
            <button type="button" class="btn btn-default">下一页</button>
        </div>
    </div>
    <div class="articleRight">
        
    </div>
</div>
<div ng-include="'src/modules/app/tpls/foot.html'"></div>