<div class="bg_particle"></div>
<div class="home_content">
    <img src="src/static/img/blog.png" title="title"/>
    <ul class="tabs">
        <li>
            <a href="#register" ng-class="{active: home.register}">
                注册
            </a>
            <s ng-show="home.register"></s>
        </li>
        <li>
            <a href="#login" ng-class="{active: home.login}">
                登陆
            </a>
            <s ng-show="home.login"></s>
        </li>
    </ul>
    <div class="from_content">
        <div ng-show="home.register">
            <form id="register" name="registerForm" novalidate>
                <div class="ipt_group">
                    <input type="text" ng-focus="ff()" name="account" ng-model="register.account" placeholder="注册账号" required/>
                    <div class="iptMsg" ng-show="!registerForm.account.$focused && registerForm.account.$invalid">
                        <span ng-show="registerForm.account.$error.required">
                        请填写注册账号
                        </span>
                        <span>账号格式不正确</span>
                        <span>用户名已被注册</span>
                    </div>
                </div>
                <div class="ipt_group">
                    <input type="text" id="rePwd" ng-model="register.pwd" placeholder="密码"/>
                    <div class="iptMsg">
                        <span>请填写密码</span>
                    </div>
                </div>
                <div class="ipt_group">
                    <input type="text" id="replayPwd" ng-model="register.replayPwd" placeholder="重复密码"/>
                    <div class="iptMsg">
                        <span>请填写重复密码</span>
                    </div>
                </div>
                <div class="ipt_group">
                    <input type="text" id="nickName" ng-model="register.nickName" placeholder="昵称"/>
                </div>
                <div class="ipt_group">
                    <input type="text" id="email" ng-model="register.email" placeholder="邮箱"/>
                    <div class="iptMsg">
                        <span>请填写邮箱</span>
                    </div>
                </div>
            </form>
        </div>
        <div ng-show="home.login">
            <form id="login">
                <div class="ipt_group">
                    <input type="text" ng-model="login.account" placeholder="登陆账号"/>
                    <div class="iptMsg">
                        <span>请填写登陆账号</span>
                        <span>该账号不存在</span>
                    </div>
                </div>
                <div class="ipt_group">
                    <input type="password" ng-model="login.pwd" placeholder="密码"/>
                    <div class="iptMsg">
                        <span>请填写密码</span>
                        <span>密码不正确</span>
                    </div>
                </div>
            </form>
            <a class="forgetPwd">忘记密码？</a><a class="authLogin">第三方账号登陆</a>
        </div>
        <button ng-show="home.register">注册</button>
        <button ng-show="home.login">登陆</button>
    </div>
</div>