<div class="container">
	<form class="form-horizontal" name="registerForm" novalidate>
		<div class="form-group">
			<label for="username" class="control-label col-sm-2">用户名: </label>
			<div class="col-sm-5">
				<input type="text" class="form-control noRadius" name="username" ng-model="newUser.username" id="username" ng-blur="checkUnique($event)" ng-change="changeIpt()" placeholder="用户名" required ng-pattern="/^[a-z]{1}[a-z0-9]{0,5}$/" />
			</div>
			<div class="col-sm-5" ng-show="registerForm.username.$dirty && registerForm.username.$invalid">
				<span class="error" ng-show="registerForm.username.$error.required">
					用户名不能为空
				</span>
				<span class="error" ng-show="!registerForm.username.$error.required && registerForm.username.$error.pattern">
					请输入以字母开头，长度为1-6的小写字母或者数字的用户名
				</span>
			</div>
			<div class="col-sm-5" ng-show="registerForm.username.$valid">
				<span class="error" style="display: none;">该用户名已被占用</span>
				<span class="success">该用户名可以使用</span>
			</div>
		</div>
		<div class="form-group">
			<label for="password" class="control-label col-sm-2">密&nbsp;&nbsp;码: </label>
			<div class="controls col-sm-5">
				<input type="password" class="form-control noRadius" ng-model="newUser.password" id="password" name="password" placeholder="密码" required ng-pattern="/^[a-zA-Z0-9-_.]{3,12}$/" />
			</div>
			<div class="col-sm-5" ng-show="registerForm.password.$dirty && registerForm.password.$invalid">
				<span class="error" ng-show="registerForm.password.$error.required">
					密码不能为空
				</span>
				<span class="error" ng-show="!registerForm.password.$error.required && registerForm.password.$error.pattern">
					请输入以3-12个大写或小写字母、数字、中划线(-)、下划线(_)、点(.)组成的密码
				</span>
			</div>
			<div class="col-sm-5" ng-show="registerForm.password.$valid">
				<span class="success">该密码可以使用</span>
			</div>
		</div>
		<div class="form-group">
			<label for="nickname" class="control-label col-sm-2">昵称: </label>
			<div class="col-sm-5">
				<input type="text" id="nickname" ng-model="newUser.nickname" class="form-control noRadius" placeholder="昵称">
			</div>
		</div>
		<div class="form-group">
			<label for="email" class="control-label col-sm-2">邮箱: </label>
			<div class="col-sm-5">
				<input type="text" id="email" name="email" ng-blur="checkUnique($event)" ng-change="changeIpt()" ng-model="newUser.email" class="form-control noRadius" placeholder="邮箱" required ng-pattern="/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+((\.[a-zA-Z0-9_-]{2,3}){1,2})$/" />
			</div>
			<div class="col-sm-5" ng-show="registerForm.email.$dirty && 
				registerForm.email.$invalid">
				<span class="error" ng-show="registerForm.email.$error.required">
					邮箱不能为空
				</span>
				<span class="error" ng-show="!registerForm.email.$error.required && registerForm.email.$error.pattern">
					邮箱格式不正确
				</span>
			</div>
			<div class="col-sm-5" ng-show="registerForm.email.$valid">
				<span class="error" style="display: none;">该邮箱已被占用</span>
				<span class="success">该邮箱可以使用</span>
			</div>
		</div>
		<div class="form-group">
			<label for="avatar" class="control-label col-sm-2">头像: </label>
			<div class="col-sm-5">
				<input type="file" id="avatar" class="form-control noRadius"/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-5 col-sm-push-2">
				<button class="btn btn-default noRadius" ng-click="register()">注册</button>
			</div>
		</div>
	</form>
</div>