<div ng-include="'src/modules/app/tpls/header.html'"></div>
<div class="articleContent">
	<h1 class="articleTitle" ng-bind="article.title">
	</h1>
	<div class="author">
		<img ng-src="{{article.author.avatar}}" title="{{article.author.nickname}}">
		<div class="articleInfo">
			<div class="authorInfo">
				<span>作者</span>
				<span ng-bind="article.author.nickname"></span>
			</div>
			<div class="articleData">
				<span ng-bind="article.createAt"></span>&nbsp;&nbsp;
				阅读(<span ng-bind="article.views"></span>)&nbsp;&nbsp;
				评论(<span ng-bind="article.comments"></span>)&nbsp;&nbsp;
				推荐(<span ng-bind="article.heart.length"></span>)&nbsp;&nbsp;
				反对(<span ng-bind="article.stamp.length"></span>)
			</div>
		</div>
	</div>
	<div class="articleBody" ng-bind-html="article.content">
	</div>
	<div class="articleFoot">
		<div class="tags">
			<span>标签:</span>
			<ul>
				<li ng-repeat="tag in article.tags" ng-bind="tag"></li>
			</ul>
		</div>
		<div class="footHandle">
			<ul class="footHeartStamp">
				<li ng-click="heart()"><a>推荐(<span ng-bind="article.heart.length"></span>)</a></li>
				<li ng-click="stamp()"><a>反对(<span ng-bind="article.stamp.length"></span>)</a></li>
			</ul>
			<div class="footShare">
				分享
			</div>
		</div>
	</div>
	<div class="addComments">
		<a class="avatar">
			<img src="http://localhost:3000/upload/defaultAvatar.jpg"/>
		</a>
		<div class="commentsArea">
			<!-- <div class="loginTips" ng-show="!userInfo">
				<a ui-sref="home({home: {register: false, login: true}})">登陆</a>后发表评论
			</div> -->
			<div class="commentsEditor" ng-show="userInfo">
				<!-- <div class="commentsTextArea" contenteditable ng-model="newCommentContent" editor-menu="emotion">
				</div> -->
				<div id="commentEditor"></div>
				<button ng-click="reviewArticle()">发送</button>
				<a href="javascript:;" ng-click="cancelReview($event)">取消</a>
			</div>
		</div>
	</div>
	<ul class="comments">
		<li ng-repeat="comment in comments">
			<div class="cmtTop">
				<a ui-sref="user({username:comment.author.username})"><img src="{{comment.author.avatar}}" title="{{comment.author.nickname}}" class="cmtAvatar"></a>
				<div class="cmtAuthorInfo">
					<a class="cmtAuthorNickname" ui-sref="user({username:comment.author.username})" ng-bind="comment.author.nickname"></a>
					<span ng-bind="$index+1"></span>楼
					<span ng-bind="comment.createDate"></span>
				</div>
			</div>	
			<div class="cmtContent">
				<ul class="replyPersion" ng-show="comment.replyParent.length">
					<li ng-repeat="reply in comment.replyParent" ng-bind=""></li>
				</ul>
				<div ng-bind-html="comment.content"></div>
			</div>
			<div class="cmtFoot">
				<span>点赞</span>
				<span>反对</span>
				<span ng-click="toggleReplay($event)">回复</span>
			</div>
			<div class="cmtReplyArea">
				<!-- <div contenteditable ng-model="replyContent" editor-menu="emotion">
				</div> -->
				<div class="replyEditor"></div>
				<button ng-click="reviewReply($event, comment)">发送</button>
				<a href="javascript:;" ng-click="cancelReply($event)">取消</a>
			</div>
		</li>
	</ul>
</div>