<div ng-include="'src/modules/app/tpls/header.html'"></div>
<div class="articleContent">
	<h1 class="articleTitle" ng-bind="article.title">
	</h1>
	<div class="author">
		<img ng-src="{{article.author.avatar}}" title="{{article.author.nickname}}">
		<div class="articleInfo">
			<div class="authorInfo">
				<span>作者</span>
				<span ng-bind="article.author.nickname"></span>
			</div>
			<div class="articleData">
				<span ng-bind="article.createAt"></span>&nbsp;&nbsp;
				阅读(<span ng-bind="article.views"></span>)&nbsp;&nbsp;
				评论(<span ng-bind="article.comments.length"></span>)&nbsp;&nbsp;
				推荐(<span ng-bind="article.heart"></span>)&nbsp;&nbsp;
				反对(<span ng-bind="article.stamp"></span>)
			</div>
		</div>
	</div>
	<div class="articleBody" ng-bind-html="article.content">
	</div>
	<div class="articleFoot">
		<div class="tags">
			<span>标签:</span>
			<ul>
				<li ng-repeat="tag in article.tags" ng-bind="tag"></li>
			</ul>
		</div>
		<div class="footHandle">
			<ul class="footHeartStamp">
				<li ng-click="heart()"><a>喜欢(<span ng-bind="article.heart"></span>)</a></li>
				<li ng-click="stamp()"><a>不喜欢(<span ng-bind="article.stamp"></span>)</a></li>
			</ul>
			<div class="footShare">
				分享
			</div>
		</div>
	</div>
	<div class="addComments">
		<a class="avatar">
			<img src="http://localhost:3000/upload/defaultAvatar.jpg"/>
		</a>
		<div class="commentsArea">
			<div class="loginTips" ng-show="!userInfo">
				<a ui-sref="home({home: {register: false, login: true}})">登陆</a>后发表评论
			</div>
			<div class="commentsEditor" ng-show="userInfo">
				<div class="commentsTextArea" contenteditable ng-model="newComment.body" editor-menu="emotion">
				</div>
				<button>发送</button><a href="javascript:;">取消</a>
			</div>
		</div>
	</div>
</div>