<div ng-include="'src/modules/app/tpls/header.html'"></div>
<div class="articleContent">
	<h1 class="articleTitle" ng-bind="article.title">
	</h1>
	<div class="author">
		<img ng-src="{{article.author.avatar}}" title="{{article.author.nickname}}">
		<div class="articleInfo">
			<div class="authorInfo">
				<span>作者</span>
				<span ng-bind="article.author.nickname"></span>
			</div>
			<div class="articleData">
				<span ng-bind="article.createAt"></span>&nbsp;&nbsp;
				阅读(<span ng-bind="article.views"></span>)&nbsp;&nbsp;
				评论(<span ng-bind="article.comments"></span>)&nbsp;&nbsp;
				推荐(<span ng-bind="article.heart.length"></span>)&nbsp;&nbsp;
				反对(<span ng-bind="article.stamp.length"></span>)
			</div>
		</div>
	</div>
	<div class="articleBody" ng-bind-html="article.content">
	</div>
	<div class="articleFoot">
		<div class="tags">
			<span>标签:</span>
			<ul>
				<li ng-repeat="tag in article.tags" ng-bind="tag"></li>
			</ul>
		</div>
		<div class="footHandle">
			<ul class="footHeartStamp">
				<li ng-click="heartArticle()"><a><span class="ws_icon ws_icon_heart"></span>&nbsp;推荐(<span ng-bind="article.heart.length"></span>)</a></li>
				<li ng-click="stampArticle()"><a><span class="ws_icon ws_icon_stamp"></span>&nbsp;反对(<span ng-bind="article.stamp.length"></span>)</a></li>
			</ul>
			<div class="footShare ws_icon ws_icon_share" title="分享"></div>
			<div class="modifyArticle ws_icon ws_icon_edit" ng-show="userInfo._id===article.author._id" ui-sref="updateArticle({username: article.author.username,articleId: article.id})" title="编辑"></div>
			<div class="deleteArticle ws_icon ws_icon_delete" ng-show="userInfo._id===article.author._id" ng-click="deleteArticle()" title="删除"></div>
		</div>
	</div>
	<div class="addComments">
		<a class="avatar">
			<img src="http://localhost:3000/asset/defaultUserAvatar.png"/>
		</a>
		<div class="commentsArea" ng-class="{true: 'unLogin'}[!userInfo]">
			<div class="loginTips" ng-show="!userInfo">
				<a ui-sref="home({home: {register: false, login: true}})">登陆</a>后发表评论
			</div>
			<form class="commentsEditor" ng-show="userInfo">
				<textarea placeholder="请填写你的评论..."></textarea>
				<div class="commentsHandle">
					<div class="handle-left">
						<div class="emoji">
							<span class="ws_icon ws_icon_face" ng-click="showemoji($event)"></span>
							<div class="emoji-list">
								<div class="emoji-class-list">
									<span class="active" ng-click="emojiTabsToggle($event)"></span>
									<span ng-click="emojiTabsToggle($event)"></span>
								</div>
								<div class="emoji-img-content">
									<div class="active">
										<ul class="emoji-img" ng-repeat="emoji in emojiArr.first">
											<li ng-repeat="i in emoji" ng-click="selectEmoji($event)"><img ng-src="dist/static/img/emojis/{{i}}" title="{{i.split('.')[0]}}"></li>
										</ul>
									</div>
									<div>
									<ul class="emoji-img" ng-repeat="emoji in emojiArr.second">
										<li ng-repeat="i in emoji" ng-click="selectEmoji($event)"><img ng-src="dist/static/img/emojis/{{i}}" title="{{i.split('.')[0]}}"></li>
									</ul>
									</div>
								</div>
							</div>
						</div>
						<span class="public-notice">Ctrl+Enter 发表</span>
					</div>
					<div class="handle-right">
						<button ng-click="reviewArticle($event)">发送</button>
						<a href="javascript:;" ng-click="cancelReview($event)">取消</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<ul class="comments">
		<li ng-repeat="comment in comments">
			<div class="cmtTop">
				<a ui-sref="user({username:comment.author.username})"><img ng-src="{{comment.author.avatar}}" title="{{comment.author.nickname}}" class="cmtAvatar"></a>
				<div class="cmtAuthorInfo">
					<a class="cmtAuthorNickname" ui-sref="user({username:comment.author.username})" ng-bind="comment.author.nickname"></a><br/>
					<span ng-bind="$index+1"></span>楼
					<span ng-show="comment.author._id===article.author._id">[楼主]</span>
					<span ng-bind="comment.createDate"></span>
				</div>
			</div>	
			<div class="cmtContent">
				<ul class="replyPersion" ng-show="comment.replyParent.length">
					<li ng-repeat="replyCmt in comment.replyUser">
						@ <span ng-bind="replyCmt.nickname"></span>
					</li>
				</ul>
				<div ng-bind-html="comment.content"></div>
			</div>
			<div class="cmtFoot">
				<span ng-click="heartComment(comment,$index)">
					<span ng-show="!comment.heart.length">赞</span>
					<span ng-show="comment.heart.length">{{comment.heart.length}}人赞</span>
				</span>
				<span ng-click="stampComment(comment,$index)">
					<span ng-show="!comment.stamp.length">踩</span>
					<span ng-show="comment.stamp.length">{{comment.stamp.length}}人踩</span>
				</span>
				<span ng-click="toggleReplay($event)">回复</span>
				<span ng-show="userInfo.username===comment.author.username" ng-click="deleteComment(comment, $index)" class="right">删除</span>
				<span ng-show="userInfo.username===comment.author.username" ng-click="updateCommentToggle($event, $index)" class="right">修改</span>
			</div>
			<div class="cmtReplyArea">
				<form class="commentsEditor" ng-show="userInfo">
					<textarea placeholder="请填写你的评论..."></textarea>
					<div class="commentsHandle">
						<div class="handle-left">
							<div class="emoji">
								<span class="ws_icon ws_icon_face" ng-click="showemoji($event)"></span>
								<div class="emoji-list">
									<div class="emoji-class-list">
										<span class="active" ng-click="emojiTabsToggle($event)"></span>
										<span ng-click="emojiTabsToggle($event)"></span>
									</div>
									<div class="emoji-img-content">
										<div class="active">
											<ul class="emoji-img" ng-repeat="emoji in emojiArr.first">
												<li ng-repeat="i in emoji" ng-click="selectEmoji($event)"><img ng-src="dist/static/img/emojis/{{i}}" title="{{i.split('.')[0]}}"></li>
											</ul>
										</div>
										<div>
										<ul class="emoji-img" ng-repeat="emoji in emojiArr.second">
											<li ng-repeat="i in emoji" ng-click="selectEmoji($event)"><img ng-src="dist/static/img/emojis/{{i}}" title="{{i.split('.')[0]}}"></li>
										</ul>
										</div>
									</div>
								</div>
							</div>
							<span class="public-notice">Ctrl+Enter 发表</span>
						</div>
						<div class="handle-right">
							<button ng-click="reviewReply($event,comment)">发送</button>
							<a href="javascript:;" ng-click="cancelReply($event)">取消</a>
						</div>
					</div>
				</form>
			</div>
			<div class="updateReplyArea">
				<form class="commentsEditor" ng-show="userInfo">
					<textarea placeholder="请填写你的评论..."></textarea>
					<div class="commentsHandle">
						<div class="handle-left">
							<div class="emoji">
								<span class="ws_icon ws_icon_face" ng-click="showemoji($event)"></span>
								<div class="emoji-list">
									<div class="emoji-class-list">
										<span class="active" ng-click="emojiTabsToggle($event)"></span>
										<span ng-click="emojiTabsToggle($event)"></span>
									</div>
									<div class="emoji-img-content">
										<div class="active">
											<ul class="emoji-img" ng-repeat="emoji in emojiArr.first">
												<li ng-repeat="i in emoji" ng-click="selectEmoji($event)"><img ng-src="dist/static/img/emojis/{{i}}" title="{{i.split('.')[0]}}"></li>
											</ul>
										</div>
										<div>
										<ul class="emoji-img" ng-repeat="emoji in emojiArr.second">
											<li ng-repeat="i in emoji" ng-click="selectEmoji($event)"><img ng-src="dist/static/img/emojis/{{i}}" title="{{i.split('.')[0]}}"></li>
										</ul>
										</div>
									</div>
								</div>
							</div>
							<span class="public-notice">Ctrl+Enter 发表</span>
						</div>
						<div class="handle-right">
							<button ng-click="updateComment($event,$index)">发送</button>
							<a href="javascript:;" ng-click="cancelUpdateComment($event)">取消</a>
						</div>
					</div>
				</form>
			</div>
		</li>
	</ul>
	<ul uib-pagination total-items="totalComments" ng-change="getComments(article,currentPage)" previous-text="上一页" next-text="下一页" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-link-numbers="true"></ul>
</div>
<div ng-include="'src/modules/app/tpls/foot.html'"></div>